body {
  background: url(gradient.webp)
}

.left {
  float: left;
  width: 15%;
  border-style: solid;
}

.right {
  float: right;
  width: 60%;
  border-style: solid;
}

.middle {
  display: inline-block;
  width: 23.5%;
  border-style: solid;
}



